@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


/* Define the neon effect */
.neon-effect {
  box-shadow: 
    0 0 5px hsl(150, 100%, 66%),   /* Light near the element */
    0 0 10px hsl(150, 100%, 66%),   /* Medium glow */
    0 0 20px hsl(150, 100%, 66%),   /* Outer glow */
    0 0 40px hsl(150, 100%, 66%),   /* Dimming outer layer */
    0 0 80px hsl(150, 100%, 66%);  /* Faint, distant light */
  transition: box-shadow 0.3s ease-in-out;
}

/* Optional: Add an effect on hover to intensify the glow */
.neon-effect:hover {
  box-shadow: 
    0 0 10px hsl(150, 100%, 66%),
    0 0 30px hsl(150, 100%, 66%),
    0 0 50px hsl(150, 100%, 66%),
    0 0 100px hsl(150, 100%, 66%),
    0 0 150px hsl(150, 100%, 66%);
}
